/* Fonts: */
@font-face {
    font-display: swap;
    font-family: Avenir Next;
    font-style: italic;
    font-weight: 400;
    src: url(fonts/avenir-next/italic-400.woff2) format('woff2'), url(fonts/avenir-next/italic-400.woff) format('woff');
}

@font-face {
    font-display: swap;
    font-family: Avenir Next;
    font-style: italic;
    font-weight: 600;
    src: url(fonts/avenir-next/italic-600.woff2) format('woff2'), url(fonts/avenir-next/italic-600.woff) format('woff');
}

@font-face {
    font-display: swap;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/avenir-next/normal-400.woff2) format('woff2'), url(fonts/avenir-next/normal-400.woff) format('woff');
}

@font-face {
    font-display: swap;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    src: url(fonts/avenir-next/normal-600.woff2) format('woff2'), url(fonts/avenir-next/normal-600.woff) format('woff');
}

/* Defaults: */
:root {
    --border: 1px solid var(--border-color);
    --border-color: #d4d4d4;
    --border-radius: .5rem;
    --gap: 1rem;
    --line-height: 1.618;
    --padding: var(--padding-y) var(--padding-x);
    --padding-x: 1.125rem;
    --padding-y: 1rem;
    --transition: all .5s;
    /* Colors (https://tailwindcss.com/docs/customizing-colors): */
    --black: #262626;
    --black-dark: #000;
    --light: #f5f5f5;
    --red: #dc2626;
    --sky: #0284c7;
    --sky-dark: #0369a1;
    --white: #fff;
}

*, ::after, ::before { box-sizing: border-box; }
html { height: 100%; }

body, button, input {
    /* Apply antialiasing */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
    color: var(--black);
    
    /* Use operating system font */
    font: 1.125rem Avenir Next, system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: var(--line-height);
}

body {
    background: var(--light);
    display: flex;
    flex-direction: column;
    
    height: inherit;
    margin: 0;
}

    body > .content { flex: 1 0 auto; }
    body > footer { flex-shrink: 0; }

a {
    color: var(--sky);
    font-weight: bold;
    text-decoration: none;
}

    a:hover { color: var(--sky-dark); }

h1, h2, h3 {
    line-height: calc(var(--line-height) / 2 + .5);
    margin: 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 2);
    padding-bottom: calc(var(--padding-y) * 3);
    padding-top: calc(var(--padding-y) * 3);
}

p { margin: 0; }

table {
    border-collapse: collapse;
    width: 100%;
}

.scroller {
    display: block;
    height: 80vh;
    overflow-y: scroll;
}

tbody th { text-align: left; }

td, th {
    border: var(--border);
    padding: var(--padding);
}

tr { background: var(--white); }

ul {
    margin: 0;
    padding: 0 0 0 1.25rem;
}

/* Layout: */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 112rem;
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    width: 100%;
}

.flex-x, .flex-y {
    display: flex;
    gap: var(--gap);
}

    main > .flex-x, main > .flex-y { gap: calc(var(--gap) * 2); }
    .flex-x { flex-direction: row; }
    .flex-y { flex-direction: column; }

.right {
    margin-left: auto;
}

/* Forms: */
form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

    form > div, form .flex-y { gap: calc(var(--gap) / 4) !important; }
    form > .flex-x { gap: var(--gap) !important; }
    form > button { margin-top: var(--gap); }

input {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding);
}
/* Calendars: */
.calendar {
    background: var(--white);
    border-collapse: separate;
    border-radius: var(--border-radius);
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}

    .calendar td, .calendar th {
        border: 0;
        padding: calc(var(--padding-y) / 1.5) calc(var(--padding-x) / 1.5);
    }
    
    .calendar td {
        width: 150px;
        text-align: center;
    }

    .calendar tr { background: none; }
    
    .calendar .selected {
        background: var(--sky);
        border-radius: 50%;
        color: var(--white);
        display: block;
    }

.calendar-week { border-collapse: collapse; }
    .calendar-week tbody tr { border-top: var(--border); }

.prev-button, .next-button {
    font-size: 10px;
    color: var(--white);
    text-decoration: none;
    padding: 5px;
    border-radius: 15%;
    background-color: #0284c7;
}

.box {
    background: #7884c9;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    text-align: left !important;
    vertical-align: top;
    color: white;
    box-shadow: 0px 0px 30px 2px #ccc;
}

/* colormenu popup: */
.context-menu {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 0px #a2a2a2;
  }
  
  .context-menu-option {
    cursor: pointer;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
  }

  .context-menu-option:hover {
    position: relative;
    left: 0px;
    margin-bottom: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #f1f3f4;
    width: 200px;
}
  .context-menu-color {
    width: 17px;
    height: 17px;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 50%;
    cursor: pointer;
  }

  .context-menu-color:hover {
    box-shadow: 0px 2px 5px 0px #2b2b2b;
  }

  .context-menu-colors {
    display: flex;
    flex-wrap: wrap;
  }

/* event desciber pop up: */
.popup {
    position: absolute;
    background: #fff;
    width: 500px;
    height: 500px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 2px #ccc;
}

.draggable {
    user-select: none;
}

.top-bar {
    cursor: pointer;
}

.top-bar:active {
    cursor: move;
}

.close-button {
    color: grey;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: -7px;
    right: 0;
    border-radius: 50%;
}

.close-button:hover {
    color: grey;
    display: block;
    background-color: rgba(225, 225, 225);
}

.top-bar {
    position: relative;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 500px;
    height: 35px;
    background-color: #f1f3f4;
    transform: translate(-10px,-10px);
}

.delete-box {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--sky);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    border: none; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box; 
    width: 100%; 
    outline: none; 
}

input[type="text"]:focus {
    border-bottom: 2px solid #1a73e8;
}

input[type="text"]:not(:focus) {
    border-bottom: 1px solid #dadce0
}

input[type="time"] {
    padding: 0.5em;
    font-size: 1em;
    border: none; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box; 
    width: 100%; 
    outline: none; 
}

input[type="time"]:focus {
    border-bottom: 2px solid #1a73e8;
}

input[type="time"]:not(:focus) {
    border-bottom: 1px solid #dadce0
}

.prev-button, .next-button {
    font-size: 10px;
    color: var(--white);
    text-decoration: none;
    padding: 5px;
    border-radius: 15%;
    background-color: #0284c7;
}

/* Components: */
button, .button {
    background: var(--sky);
    border: none;
    border-radius: var(--border-radius);
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: calc(var(--padding-y) * .75) calc(var(--padding-x) * 1.5);
    text-align: center;
    text-decoration: none;
}

        button:hover, .button:hover, .prev-button:hover, .next-button:hover, .delete-box:hover {
        background: var(--sky-dark);
        color: var(--white);
        transition: var(--transition);
    }

.small-button {
    font-size: 10px;
    color: var(--white);
    text-decoration: none;
    padding: 2px;
    border-radius: 15%;
}  

.accept-button {
    background-color: #16c702;
}

.decline-button {
    background-color: #c70202;
}

.delete-button {
    background-color: #c70202;
}

.block-button {
    background-color: #0284c7;
}

.card {
    background: var(--white);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: calc(var(--padding-y) * 2) calc(var(--padding-x) * 2);
}

.navbar {
    background: var(--white);
    box-shadow: 0 3px 6px rgb(0 0 0 / 4%);
    height: 4rem;
}

    header.navbar { border-bottom: var(--border); }
    footer.navbar { border-top: var(--border); }

    .navbar > .container {
        align-items: center;
        display: flex;
        height: inherit;
    }
    
    .navbar a { color: var(--black); }
        .navbar a:hover { color: var(--black-dark); }
    
    .navbar .brand {
        aspect-ratio: 6 / 1;
        background: url(images/brand.png);
        background-size: cover;
        height: 1.5rem;
    }
    
    .navbar ul {
        display: flex;
        gap: calc(var(--gap) * 3);
        list-style-type: none;
        padding: 0;
    }

/* Utilities: */
.gap-2 { gap: calc(var(--gap) * 2); }

.left { text-align: left; }
.center { align-items: center; }

.red { color: var(--red); }

.width-20 { width: 20%; }
.width-30 { width: 30%; }
.width-40 { width: 40%; }
.width-50 { width: 50%; }
.width-70 { width: 70%; }
.width-80 { width: 80%; }

/* Responsiveness: */
@media only screen and (max-width: 992px) {
    .width-20, .width-30, .width-40, .width-50, .width-70, .width-80 { width: 100%; }
}
